<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <link rel="stylesheet" href="./calender.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class = "picker" @click = "isClickPicker=true"><input type = "text" :value = "valueDate" size = "10"></div>
            <div class = "main">
            <div v-show = "!isClickToolBar && isClickPicker">
                <div class="toolbar">
                    <div class="previous" @click="previousMonth"><strong>&lt;</strong></div>
                    <div class="current" @click = "chooseMonth"><strong>{{ currentDate }}</strong></div>
                    <div class="next" @click="nextMonth"><strong>&gt;</strong></div>
                </div>
                <div class="week">
                    <div class="week-item" v-for="item of weekList" :key="item.id">{{ item }}</div>
                </div>
                <div class="day">
                    <div class="item" v-for="(item, index) of calendarList" :key="item.id" :class="[item.disable ? 'disabled' : '', {today: item.isToday}, {checked: item.isChecked}]" @click = "checkDate(item)">
                        {{ item.date }}
                    </div>
                </div>                
            </div>

            <div v-show = "isClickToolBar && !isClickYearToolBar">
                <div class = "toolbar">
                    <div class="previous" @click="previousYear"><strong>&lt;</strong></div>
                    <div class="current" @click = "chooseYear"><strong>{{ currentTime.year }}</strong></div>
                    <div class="next" @click="nextYear"><strong>&gt;</strong></div>
                </div>            
                <div class = "day">
                    <div class = "item2" v-for = "item of monthAbbre" :key = "item.id" :class = "{checked2: isCheckItem[monthAbbre.indexOf(item)]}" @click = "checkMonth(monthAbbre.indexOf(item))">{{ item }}</div>
                </div>
            </div>

            <div v-show = "isClickYearToolBar">
                <div class = "toolbar">
                    <div class="previous" @click="previousRangeYear"><strong>&lt;</strong></div>
                    <div class="current"><strong>{{ rangeYear }}</strong></div>
                    <div class="next" @click="nextRangeYear"><strong>&gt;</strong></div>
                </div>            
                <div class = "day">
                    <div class = "item2" v-for = "item of yearList" :key = "item.id" :class = "[{disabled : item.disable}, {checked2: item.isThisYear}]" @click="checkYear(item)">{{ item.year }}</div>
                </div>
            </div>
        </div></div>
    </div>
    <script src="./calender.js"></script>
</body>

</html>
